(
    min: (-3, 0, -2),
    max: (2, 7, 3),
    edits: [
        (
            position: (-2, 1, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 1, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 1, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 2, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 2, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 2, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 3, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 3, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 3, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 4, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 4, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 5, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-2, 5, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 1, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 1, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 1, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 1, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 1, 3),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 2, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 2, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 2, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 2, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 2, 3),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 3, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 3, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 3, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 3, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 4, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 4, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 4, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 4, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 5, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 5, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 5, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 5, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 6, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (-1, 6, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 1, -2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 1, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 1, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 1, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 1, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 1, 3),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 2, -2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 2, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 2, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 2, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 2, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 2, 3),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 3, -2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 3, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 3, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 3, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 3, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 4, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 4, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 4, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 4, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 5, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 5, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 5, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 5, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 6, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 6, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 6, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (0, 7, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 1, -2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 1, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 1, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 1, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 1, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 2, -2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 2, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 2, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 2, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 2, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 3, -2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 3, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 3, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 3, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 3, 2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 4, -2),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 4, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 4, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 4, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 5, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 5, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 5, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 6, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 6, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 6, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (1, 7, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 1, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 1, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 1, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 2, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 2, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 2, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 3, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 3, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 3, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 4, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 4, 0),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 4, 1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 5, -1),
            block: (
                id: Cobblestone,
            ),
        ),
        (
            position: (2, 5, 0),
            block: (
                id: Cobblestone,
            ),
        ),
    ],
)